@import './avenir-next.css';
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme='peak'] {
    --background: 0 0% 100%;
    --foreground: 0 0% 26.67%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 26.67%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 26.67%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 26.67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 0% 26.67%;
    --chart-2: 0 0% 96.1%;
    --chart-3: 0 0% 96.1%;
    --chart-4: 0 0% 99.1%;
    --chart-5: 0 3% 26.67%;
    --radius: 0.5rem;
  }

  [data-theme='peak'].dark {
    --background: 0 0% 26.67%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 26.67%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 26.67%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
    --chart-1: 0 0% 98%;
    --chart-2: 0 0% 14.9%;
    --chart-3: 0 0% 14.9%;
    --chart-4: 0 0% 17.9%;
    --chart-5: 0 3% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body[data-theme='peak'] {
    @apply bg-background text-foreground antialiased;
    font-family: 'Avenir Next', 'Helvetica', sans-serif;
  }
  html,
  body,
  #__nuxt {
    height: 100vh;
  }

  [data-theme='peak'] {
    .font-condensed {
      font-family: 'Avenir Next Condensed', 'Helvetica', sans-serif;
    }
    .font-cursive {
      font-family: 'Caveat', sans-serif;
    }
  }
}
