// @use "vuetify/lib/styles/main.sass" with (
//   $color-pack: false,
//   $utilities: false,
//   $reset: false
// );

@import "./mixins";
@import "./fonts";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

.v-application {
  font-family: "Avenir Next", sans-serif;
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
