@font-face {
  font-family: "tradegothicregular";
  src: url("/fonts/tradegothic/tradegothic-boldcondtwenty-webfont.eot");
  src: url("/fonts/tradegothic/tradegothic-boldcondtwenty-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/tradegothic/tradegothic-boldcondtwenty-webfont.woff") format("woff"),
    url("/fonts/tradegothic/tradegothic-boldcondtwenty-webfont.ttf") format("truetype"),
    url("/fonts/tradegothic/tradegothic-boldcondtwenty-webfont.svg#tradegothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tradegothicregular";
  src: url("/fonts/tradegothic/tradegothic-condeighteen-webfont.eot");
  src: url("/fonts/tradegothic/tradegothic-condeighteen-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/tradegothic/tradegothic-condeighteen-webfont.woff") format("woff"),
    url("/fonts/tradegothic/tradegothic-condeighteen-webfont.ttf") format("truetype"),
    url("/fonts/tradegothic/tradegothic-condeighteen-webfont.svg#tradegothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
